__pycache__/
*tempCodeRunnerFile.py
.DS_Store

# Config files
config.toml

# Testing files
testing/
test*
multi_context.py
multi_browser.py
extract_request.py
merge_test.py
request_auth_test.py

# Data output and logs (avoid committing large files)
data/
Notes.txt

.gitattributes
.dockerignore
.env